﻿@{
    ViewData["Title"] = "ADA";
    ViewData["og:title"] = "ADA";
    ViewData["og:description"] = "ADA (Automated/Advanced Discord Administrator) is designed to extend and simplify a number of administrative tasks.";
    ViewData["og:image"] = Url.FullContentUrl("~/images/discord/ada_v4_big.png");
    ViewData["content:center"] = true;
}

<img src="@Url.Content("~/images/discord/ada_v4.png")" alt="ADA" class="bot-image" />

<h1>ADA</h1>
<h3>Automated/Advanced Discord Administrator</h3>

<p>
    ADA (Automated/Advanced Discord Administrator) is designed to extend and simplify a number of administrative tasks. It's written in C#, using Discord.NET library. Currently pending porting to Clyde.NET. 
    ADA is a bot that simplifies and extends administration of Discord servers, adds some automated functionality, as well as some fun functionality. Initially designed as a bot for my server only, it has 
    since been rewritten and improved. 
</p>

<div class="margin">&nbsp;</div>

<div class="col-xs-12 col-md-4"><button title="Add to your server" class="btn btn-lg btn-primary" disabled="disabled">Add to your server</button></div>
<div class="col-xs-12 col-md-4"><a href="@Url.Action("Ada", new { id = "doc" })" title="Command documentation" class="btn btn-lg btn-default">Command documentation</a></div>
<div class="col-xs-12 col-md-4"><a href="@Url.Action("Ada", new { id = "source" })" target="_blank" title="View source on GitHub" class="btn btn-lg btn-default">View source on GitHub</a></div>