﻿@{
    ViewData["Title"] = "ADA Documentation";
    ViewData["og:title"] = "ADA Documentation";
    ViewData["og:description"] = "ADA (Automated/Advanced Discord Administrator) is designed to extend and simplify a number of administrative tasks.";
    ViewData["og:image"] = Url.FullContentUrl("~/images/discord/ada_v4_big.png");
    ViewData["content:center"] = true;
}

<img src="@Url.Content("~/images/discord/ada_v4.png")" alt="ADA" class="bot-image-small" />

<h1>ADA <small>- Documentation</small></h1>

<p>
    ADA is currently undergoing a complete rewrite. As a result, the command reference will drastically change in the coming versions.
</p>