﻿@{
    ViewData["Title"] = "Assembler";
    ViewData["og:title"] = "Assembler";
    ViewData["og:description"] = "ASM (Assembler) is a bot that assembles assembly code to machine code, and outputs the resulting hex. Written using Discord.py library.";
    ViewData["og:image"] = Url.FullContentUrl("~/images/discord/asm_v2_big.png");
    ViewData["content:center"] = true;
}

<img src="@Url.Content("~/images/discord/asm_v2.png")" alt="ASM" class="bot-image" />

<h1>ASM</h1>
<h3>Assembler</h3>

<p>
    ASM (Assembler) is a bot that assembles assembly code to machine code, and outputs the resulting hex. Written using Discord.py library. ASM was designed as a very niche bot. It converts input assembly code 
    into machine code, and dumps its hex representation. It supports x86, x86_64, ARMv6, ARMv7, ARMv8, AArch64, MIPS, PowerPC, and PowerPC64 input. 
</p>

<div class="margin">&nbsp;</div>

<div class="col-xs-12 col-md-4"><a href="@Url.Action("Asm", new { id = "invite" })" target="_blank" title="Add to your server" class="btn btn-lg btn-primary">Add to your server</a></div>
<div class="col-xs-12 col-md-4"><a href="@Url.Action("Asm", new { id = "doc" })" title="Command documentation" class="btn btn-lg btn-default">Command documentation</a></div>
<div class="col-xs-12 col-md-4"><a href="@Url.Action("Asm", new { id = "source" })" target="_blank" title="View source on GitHub" class="btn btn-lg btn-default">View source on GitHub</a></div>