﻿@{
    ViewData["Title"] = "Assembler Documentation";
    ViewData["og:title"] = "Assembler Documentation";
    ViewData["og:description"] = "ASM (Assembler) is a bot that assembles assembly code to machine code, and outputs the resulting hex. Written using Discord.py library.";
    ViewData["og:image"] = Url.FullContentUrl("~/images/discord/asm_v2_big.png");
    ViewData["content:center"] = true;
}

<img src="@Url.Content("~/images/discord/asm_v2.png")" alt="ASM" class="bot-image-small" />

<h1>ASM <small>- Documentation</small></h1>

<h3>Help and introduction</h3>

<p class="text-justify">
    The bot uses mention prefix. <code>@@Assembler help</code> displays help.
</p>

<div class="margin">&nbsp;</div>

<h3>Assembling code</h3>

<p class="text-justify">
    <code>@@Assembler assemble &lt;architecture&gt; &lt;code block&gt;</code> assembles code. Architecture can be one of:
</p>

<ul class="list-unstyled text-justify">
    <li>x86: <code>x86 i386 i486 i586 i686</code></li>
    <li>x64: <code>x64 x86_64 amd64</code></li>
    <li>x86 (AT&T syntax): <code>x86_att i386_att i486_att i586_att i686_att</code></li>
    <li>x64 (AT&T syntax): <code>x64_att x86_64_att amd64_att</code></li>
    <li>ARMv6: <code>armv6 armv6k</code></li>
    <li>ARMv6 (big-endian): <code>armv6eb armv6keb armv6_be armv6k_be</code></li>
    <li>ARMv7: <code>armv7 armv7a</code></li>
    <li>ARMv7 (big-endian): <code>armv7eb armv7aeb armv7_be armv7a_be</code></li>
    <li>ARMv8: <code>armv8 armv8a</code></li>
    <li>ARMv8 (big-endian): <code>armv8eb armv8aeb armv8_be armv8a_be</code></li>
    <li>AArch64 (64-bit ARMv8): <code>aarch64 arm64</code></li>
    <li>AArch64 (64-bit ARMv8, big-endian): <code>aarch64eb arm64eb aarch64_be arm64_be</code></li>
    <li>MIPS: <code>mips</code></li>
    <li>MIPS (little-endian): <code>mipsel mips_le</code></li>
    <li>PowerPC: <code>powerpc powerpc32 ppc ppc32</code></li>
    <li>PowerPC64: <code>powerpc64 ppc64</code></li>
    <li>PowerPC64 (little-endian): <code>powerpc64el ppc64el powerpc64_le ppc64_le</code></li>
</ul>