﻿@{
    ViewData["Title"] = "Companion Cube Documentation";
    ViewData["og:title"] = "Companion Cube Documentation";
    ViewData["og:description"] = "Companion Cube is a simple DSharpPlus-based bot. It's primary purpose is to show some of the finer functionality of DSharpPlus in action.";
    ViewData["og:image"] = Url.FullContentUrl("~/images/discord/cc_v1_big.png");
    ViewData["content:center"] = true;
}

<img src="@Url.Content("~/images/discord/cc_v1.png")" alt="Companion Cube" class="bot-image-small" />

<h1>Companion Cube <small>- Documentation</small></h1>

<h3>Help and introduction</h3>

<p class="text-justify">
    By default, the bot uses <code>cc!</code>, <code>//</code>, <code>??</code> or mention as command prefix. This means that commands are invoked by doing <code>cc!command arguments...</code>,
    <code>@@Companion Cube command arguments...</code> or using any other configured prefix.
</p>

<p class="text-justify">
    In below documentation, all commands will be listed with default command prefix. Arguments will be listed as <code>&lt;argument&gt;</code>, denoting required argument; <code>&lt;argument...&gt;</code>
    denoting required catch-all argument (i.e. one that can take more than one value). Optional arguments will be denoted using <code>[argument]</code> and <code>[argument...]</code> for single and catch-all
    optional arguments. When typing commands, you must omit the <code>&lt;&gt;</code> and <code>[]</code> parts, meaning that if a command is denoted as <code>cc!command &lt;argument 1&gt; [argument 2]</code>,
    you use it as <code>cc!command value1 value2</code> or <code>cc!command value1</code>. If you want to pass an argument that contains spaces, wrap it in <code>""</code>, for instance:
    <code>cc!command "value for argument 1"</code> will invoke <code>cc!command</code> with a single argument, <code>value for argument 1</code>. This is not required for catch-all arguments. For instance, if a
    command is declared as <code>cc!echo &lt;message...&gt;</code>, you can invoke it as <code>cc!echo Hello, this is a message with spaces!</code>.
</p>

<p class="text-justify">
    <code>cc!help [command]</code> Displays help. Invoking this command without any arguments will list available top-level. Specifying a command will show information about that command, and its subcommands
    (if applicable).
</p>

<p class="text-justify">
    Companion Cube features a blocking system. Blocking can happen on per-channel basis. Messages from blocked channels are ignored (this excludes administrative commands).
</p>

<p class="text-justify">
    Companion Cube's command prefix can be changed on per-guild. The mention prefix, however, cannot be changed or disabled.
</p>

<div class="margin">&nbsp;</div>

<h3>Bot control</h3>

<ul class="list-unstyled text-justify">
    <li><code>cc!admin nick [nickname...]</code> Changes bot's nickname to one specified. Specifying an empty string (<code>""</code>) or no argument will reset the nickname. Requires manage nicknames permission.</li>
    <li><code>cc!admin prefix add &lt;prefix&gt;</code> Adds a prefix to the list of prefixes for current guild.</li>
    <li><code>cc!admin prefix remove &lt;prefix&gt;</code> Removes a prefix from the list of prefixes for current guild.</li>
    <li><code>cc!admin prefix enabledefault &lt;true/false&gt;</code> Sets whether default prefixes are to be enabled in the current guild.</li>
    @*<li><code>cc!admin blacklist &lt;user&gt; &gt;true/false&lt; [reason...]</code> Blacklists a user from using the bot, or reverses such an operation, optionally specifying a reason. Blacklisted users cannot use passive or active functionality of the bots.</li>*@
    <li><code>cc!admin blacklist &lt;channel&gt; &gt;true/false&lt; [reason...]</code> Blacklists a channel from using the bot, or reverses such an operation, optionally specifying a reason. Blacklisted channels will be ignored by the bot.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Emoji management</h3>

<ul class="list-unstyled text-justify">
    <li><code>cc!emoji list</code> Lists all the custom emoji installed in the guild.</li>
    <li><code>cc!emoji steal &lt;emoji&gt; &lt;name&gt;</code> Installs a specified emoji in the current guild.</li>
    <li><code>cc!emoji install &lt;name&gt; [url...]</code> Installs a specified image as emoji in the current guild. You can attach an image instead of specifying an URL.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Tag management</h3>

<p class="text-justify">
    At present, all tags are channel-specific tags. This means that when created in one channel, they cannot be called from any other one. Tags can be created by any user, however by default they are not shown
    in default listing. Moderators can approve or unapprove tags, which shows or hides them in default listing respectively. Moderators can also edit or delete any tag. The tag system features full tracking for
    all tags. This means that each tag has a use count, incremented when any user (excluding tag's owner) uses a tag, its use counter is incremented. Moreover, tags keep a full record of edits. Each edit to a
    tag records the timestamp, and the user who performed the action. Each tag's full history can be recalled at any time, including its previous versions. Deleting a tag, however, removes the tag along with
    its history.
</p>

<ul class="list-unstyled text-justify">
    <li><code>cc!tag [tag name...]</code> Displays the current version of specified tag. If the tag is not found, it displays 5 closest suggestions instead.</li>
    <li><code>cc!tag create &lt;type&gt; &lt;name&gt; &lt;contents...&gt;</code> Creates a new tag with specified type, name and contents. Type can be either guild or channel.</li>
    <li><code>cc!tag delete &lt;name...&gt;</code> Deletes the specified tag. This command requires that you own the tag.</li>
    <li><code>cc!tag force_delete &lt;name...&gt;</code> Moderator version of the above. It can delete any tag. This requires you have manage channel permissions.</li>
    <li><code>cc!tag edit &lt;name&gt; &lt;new contents...&gt;</code> Edits a specified tag, replacing its contents with the ones specified. This command requires that you own the tag.</li>
    <li><code>cc!tag force_edit &lt;name&gt; &lt;new contents...&gt;</code> Moderator version of the above. It can edit any tag. This requires you have manage channel permissions.</li>
    <li><code>cc!tag changetype &lt;name&gt; &lt;new type&gt;</code> Changes type of a specified tag. Type can be either guild or channel. This command requires that you own the tag.</li>
    <li><code>cc!tag force_changetype &lt;name&gt; &lt;new type&gt;</code> Moderator version of the above. It can edit any tag. This requires you have manage channel permissions.</li>
    <li><code>cc!tag history &lt;name...&gt;</code> Views edit history for a given tag.</li>
    <li><code>cc!tag view_edit &lt;name&gt; &lt;edit id&gt;</code> Views specific revision of a given tag.</li>
    <li><code>cc!tag dump &lt;name...&gt;</code> Displays raw contents of specified tag, that is with all the markdown escaped.</li>
    <li><code>cc!tag info &lt;name...&gt;</code> Displays information about specified tag.</li>
    <li><code>cc!tag hide &lt;name...&gt;</code> Hides a tag from default tag listing. Requires that you own the tag.</li>
    <li><code>cc!tag unhide &lt;name...&gt;</code> Unhides a tag from default tag listing. Requires that you own the tag.</li>
    <li><code>cc!tag force_hide &lt;name...&gt;</code> Moderation version of hide. It can edit any tag. Requires manage channel permission.</li>
    <li><code>cc!tag force_unhide &lt;name...&gt;</code> Moderator version of unhide. It can edit any tag. Requires manage channel permission.</li>
    <li><code>cc!tag list [query...]</code> Searches tags, and returns up to 5 tags with most similar names. If no query is specified, it shows default listing.</li>
    <li><code>cc!tags [query...]</code> Alias for the above.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Unicode codepoint info</h3>

<ul class="list-unstyled text-justify">
    <li><code>cc!charinfo [codepoints...]</code> Displays short information about specified codepoints.</li>
    <li><code>cc!charinfo full [codepoints...]</code> Displays complete information about specified codepoints.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Misc. commands</h3>

<ul class="list-unstyled text-justify">
    <li><code>cc!fun dice [dice]</code> Rolls dice. Specifier is XdY, where X is number of dice, and Y is number of sides on a die (e.g. 2d6 or d20).</li>
    <li><code>cc!fun choice &lt;options...&gt;</code> Randomly chooses one of the specified options.</li>
    <li><code>cc!fun choicex &lt;number&gt; &lt;options...&gt;</code> Randomly chooses one of the specified options using a best-of-n format. The number specifies how many times to run the choice.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Miscellaneous commands</h3>

<ul class="list-unstyled text-justify">
    <li><code>cc!about</code> Displays information about the bot, such as bot's website, invite link, etc.</li>
    <li><code>cc!uptime</code> Displays bot's current uptime.</li>
    <li><code>cc!cleanup</code> Cleans up. This removes bot's messages found in the last 100 messages.</li>
</ul>