﻿@{
    ViewData["Title"] = "Companion Cube";
    ViewData["og:title"] = "Companion Cube";
    ViewData["og:description"] = "Companion Cube is a simple DSharpPlus-based bot. It's primary purpose is to show some of the finer functionality of DSharpPlus in action.";
    ViewData["og:image"] = Url.FullContentUrl("~/images/discord/cc_v1_big.png");
    ViewData["content:center"] = true;
}

<img src="@Url.Content("~/images/discord/cc_v1.png")" alt="Companion Cube" class="bot-image" />

<h1>Companion Cube</h1>

<p>
    Companion Cube is a simple DSharpPlus-based bot. It's primary purpose is to show some of the finer functionality of DSharpPlus in action. On top of that, it offers some basic amenities useful when 
    organizing common information in your server. Among the functionality it offers is tag system, unicode codepoint info, and emoji management. It's very configurable, allows ignoring entire channels, 
    as well as setting prefixes on per-guild basis.
</p>

<div class="margin">&nbsp;</div>

<div class="col-xs-12 col-md-4"><a href="@Url.Action("CompanionCube", new { id = "invite" })" target="_blank" title="Add to your server" class="btn btn-lg btn-primary">Add to your server</a></div>
<div class="col-xs-12 col-md-4"><a href="@Url.Action("CompanionCube", new { id = "doc" })" title="Command documentation" class="btn btn-lg btn-default">Command documentation</a></div>
<div class="col-xs-12 col-md-4"><a href="@Url.Action("CompanionCube", new { id = "source" })" target="_blank" title="View source on GitHub" class="btn btn-lg btn-default">View source on GitHub</a></div>