﻿@{
    ViewData["Title"] = "Discord";
    ViewData["og:title"] = "Discord";
    ViewData["og:description"] = "A collection of my Discord projects. Here you will also find my other Discord-related information.";
}

<h1>Discord</h1>

<div class="col-xs-12 col-md-8 dontpad">
    <p>
        This is the place to find information about my Discord server and bots. <span class="hidden-xs hidden-sm">On the right</span><span class="hidden-md hidden-lg">Below</span> is the invite to my server.
        Don't hesitate to join if you have any questions or seek information about any of my Discord (or otherwise) projects.
    </p>

    <p>
        Keep in mind that I am based in UTC+1 (or +2 during DST), so you might not get a response when it's middle of the night in that timezone. Other than that, if you behave like a jackass, expect a swift
        resolution in form of a ban.
    </p>

    <p>
        Lastly, my servers offer some emotes to Nitro users. If you join just to take advantage of them, that's fine.
    </p>
</div>
<div class="col-xs-12 col-md-4 content-align-right">
    <a target="_blank" href="https://discord.gg/rGKrJDR" class="discord-server-invite" title="Emzi's Central Dispatch the Discord Server">
        <img src="https://discordapp.com/api/guilds/207879549394878464/embed.png?style=banner1" alt="Discord" />
    </a>
</div>
<div class="clearfix"></div>

<h2>Bots</h2>

<div class="col-xs-12 bot-info">
    <img src="@Url.Content("~/images/discord/cc_v1.png")" alt="Companion Cube" class="bot-avatar bot-avatar-large" />
    <h3>Companion Cube</h3>
    <p>
        Companion Cube is a simple DSharpPlus-based bot. It's primary purpose is to show some of the finer functionality of DSharpPlus in action. On top of that, it offers some basic amenities useful when
        organizing common information in your server.
    </p>
    <p>
        <a href="@Url.Action("CompanionCube")" title="Companion Cube" class="btn btn-primary btn-lg">More information</a>
    </p>
</div>

<div class="col-xs-12 col-md-6 bot-info">
    <img src="@Url.Content("~/images/discord/turret_v1.png")" alt="Music Turret" class="bot-avatar" />
    <h3>Music Turret</h3>
    <p>
        Music Turret was originally part of Companion Cube, however I since split it off into a standalone bot, cleaned it up, and shipped it. The fixes and cleanups were later backported to Companion Cube.
        Turret is a Lavalink-based music bot, with standard music bot features, and some extras. It's only added to servers I trust, and, as such, requires that either I add it, or that you contact me if you 
        want to make use of it.
    </p>
    <p>
        <a href="@Url.Action("MusicTurret")" title="Music Turret" class="btn btn-primary btn-lg">More information</a>
    </p>
</div>

<div class="col-xs-12 col-md-6 bot-info">
    <img src="@Url.Content("~/images/discord/ada_v4.png")" alt="ADA" class="bot-avatar" />
    <h3>ADA</h3>
    <p>
        ADA (Automated/Advanced Discord Administrator) is designed to extend and simplify a number of administrative tasks. It's written in C#, using Discord.NET library. Currently pending porting to Clyde.NET.
    </p>
    <p>
        <a href="@Url.Action("Ada")" title="ADA" class="btn btn-primary btn-lg">More information</a>
    </p>
</div>
<div class="clearfix"></div>

<div class="col-xs-12 col-md-6 bot-info">
    <img src="@Url.Content("~/images/discord/pam_v1.png")" alt="PAM" class="bot-avatar" />
    <h3>PAM</h3>
    <p>
        PAM (Python Administrative Module) is a Python clone of ADA, written using Discord.py library.
    </p>
    <p>
        <a href="@Url.Action("Pam")" title="PAM" class="btn btn-primary btn-lg">More information</a>
    </p>
</div>

<div class="col-xs-12 col-md-6 bot-info">
    <img src="@Url.Content("~/images/discord/asm_v2.png")" alt="ASM" class="bot-avatar" />
    <h3>ASM</h3>
    <p>
        ASM (Assembler) is a bot that assembles assembly code to machine code, and outputs the resulting hex. Written using Discord.py library.
    </p>
    <p>
        <a href="@Url.Action("Asm")" title="ASM" class="btn btn-primary btn-lg">More information</a>
    </p>
</div>
