﻿@{
    ViewData["Title"] = "Music Turret Documentation";
    ViewData["og:title"] = "Music Turret Documentation";
    ViewData["og:description"] = "Turret is a Lavalink-based music bot, with standard music bot features, and some extras.";
    ViewData["og:image"] = Url.FullContentUrl("~/images/discord/turret_v1_big.png");
    ViewData["content:center"] = true;
}

<img src="@Url.Content("~/images/discord/turret_v1.png")" alt="Music Turret" class="bot-image" />

<h1>Music Turret <small>- Documentation</small></h1>

<h3>Help and introduction</h3>

<p class="text-justify">
    By default, the bot uses <code>t!</code>, <code>..</code>, <code>>></code> or mention as command prefix. This means that commands are invoked by doing <code>..command arguments...</code>,
    <code>@@Turret command arguments...</code> or using any other configured prefix.
</p>

<p class="text-justify">
    In below documentation, all commands will be listed with default command prefix. Arguments will be listed as <code>&lt;argument&gt;</code>, denoting required argument; <code>&lt;argument...&gt;</code>
    denoting required catch-all argument (i.e. one that can take more than one value). Optional arguments will be denoted using <code>[argument]</code> and <code>[argument...]</code> for single and catch-all
    optional arguments. When typing commands, you must omit the <code>&lt;&gt;</code> and <code>[]</code> parts, meaning that if a command is denoted as <code>t!command &lt;argument 1&gt; [argument 2]</code>,
    you use it as <code>t!command value1 value2</code> or <code>t!command value1</code>. If you want to pass an argument that contains spaces, wrap it in <code>""</code>, for instance:
    <code>t!command "value for argument 1"</code> will invoke <code>t!command</code> with a single argument, <code>value for argument 1</code>. This is not required for catch-all arguments. For instance, if a
    command is declared as <code>t!echo &lt;message...&gt;</code>, you can invoke it as <code>t!echo Hello, this is a message with spaces!</code>.
</p>

<p class="text-justify">
    <code>..help [command]</code> Displays help. Invoking this command without any arguments will list available top-level. Specifying a command will show information about that command, and its subcommands
    (if applicable).
</p>

<p class="text-justify">
    Music Turret features a blocking system. Blocking can happen on per-channel basis. Messages from blocked channels are ignored (this excludes administrative commands).
</p>

<p class="text-justify">
    Music Turret's command prefix can be changed on per-guild. The mention prefix, however, cannot be changed or disabled.
</p>

<div class="margin">&nbsp;</div>

<h3>Bot control</h3>

<ul class="list-unstyled text-justify">
    <li><code>..admin prefix add &lt;prefix&gt;</code> Adds a prefix to the list of prefixes for current guild.</li>
    <li><code>..admin prefix remove &lt;prefix&gt;</code> Removes a prefix from the list of prefixes for current guild.</li>
    <li><code>..admin prefix enabledefault &lt;true/false&gt;</code> Sets whether default prefixes are to be enabled in the current guild.</li>
    @*<li><code>..admin blacklist &lt;user&gt; &gt;true/false&lt; [reason...]</code> Blacklists a user from using the bot, or reverses such an operation, optionally specifying a reason. Blacklisted users cannot use passive or active functionality of the bots.</li>*@
    <li><code>..admin blacklist &lt;channel&gt; &gt;true/false&lt; [reason...]</code> Blacklists a channel from using the bot, or reverses such an operation, optionally specifying a reason. Blacklisted channels will be ignored by the bot.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Music suite</h3>

<ul class="list-unstyled text-justify">
    <li><code>..play &lt;url or search query...&gt;</code> Searches YouTube for specified track, if applicable, and enqueues it.</li>
    <li><code>..pause</code> Pauses playback.</li>
    <li><code>..resume</code> Unpauses playback.</li>
    <li><code>..restart</code> Restarts playback of currently-playing track. This should primarily be used to resolve playback issues.</li>
    <li><code>..stop</code> Stops playback, clears the queue, and leaves voice channel.</li>
    <li><code>..skip</code> Skips the current track.</li>
    <li><code>..volume &lt;volume&gt;</code> Sets playback volume. Allowed values are 0-150.</li>
    <li><code>..seek &lt;timestamp&gt;</code> Jumps to specified timestamp in the current track. Example timestamp: 1m30s.</li>
    <li><code>..forward &lt;time&gt;</code> Forwards the track by specified amount of time. Format is the same as seek.</li>
    <li><code>..rewind &lt;time&gt;</code> Rewinds the track by specified amount of time. Format is the same as seek.</li>
    <li><code>..repeat &lt;mode&gt;</code> Sets repeat mode of the playback queue. Mode can be all (repeat entire queue), single (repeat one track), or none (don't repeat anything).</li>
    <li><code>..shuffle</code> Toggles shuffling the queue. Toggling this on will shuffle current queue.</li>
    <li><code>..reshuffle</code> Reshuffles the order of tracks in the queue.</li>
    <li><code>..nowplaying</code> Shows information about currently-playing track.</li>
    <li><code>..queue</code> Displays playback queue.</li>
    <li><code>..remove &lt;item number&gt;</code> Removes a specified item from the playback queue.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Miscellaneous commands</h3>

<ul class="list-unstyled text-justify">
    <li><code>..about</code> Displays information about the bot, such as bot's website, invite link, etc.</li>
    <li><code>..uptime</code> Displays bot's current uptime.</li>
    <li><code>..cleanup</code> Cleans up. This removes bot's messages found in the last 100 messages.</li>
</ul>