﻿@{
    ViewData["Title"] = "Music Turret";
    ViewData["og:title"] = "Music Turret";
    ViewData["og:description"] = "Turret is a Lavalink-based music bot, with standard music bot features, and some extras.";
    ViewData["og:image"] = Url.FullContentUrl("~/images/discord/turret_v1_big.png");
    ViewData["content:center"] = true;
}

<img src="@Url.Content("~/images/discord/turret_v1.png")" alt="Music Turret" class="bot-image" />

<h1>Music Turret</h1>

<p>
    Music Turret was originally part of Companion Cube, however I since split it off into a standalone bot, cleaned it up, and shipped it. The fixes and cleanups were later backported to Companion Cube.
    Turret is inspired by turrets from Portal 2, which sung <a href="https://www.youtube.com/watch?v=tL_TFXbSnLY" title="Cara Mia Addio on YouTube">Cara Mia Addio</a> in the outro of the game. It's a 
    Lavalink-based music bot, with standard music bot features, and some extras. It's only added to servers I trust, and, as such, requires that either I add it, or that you contact me if you want to make 
    use of it. Basic configuration features are identical to those of Companion Cube, that is the bot allows ignoring entire channels, and setting prefixes on per-guild basis. The music suite offers 
    playback from popular services like YouTube or SoundCloud, queueing and queue management, shuffling, volume controls, seeking, and other features.
</p>

<div class="margin">&nbsp;</div>

<div class="col-xs-12 col-md-4"><a href="@Url.Action("MusicTurret", new { id = "invite" })" target="_blank" title="Add to your server" class="btn btn-lg btn-primary">Add to your server</a></div>
<div class="col-xs-12 col-md-4"><a href="@Url.Action("MusicTurret", new { id = "doc" })" title="Command documentation" class="btn btn-lg btn-default">Command documentation</a></div>
<div class="col-xs-12 col-md-4"><a href="@Url.Action("MusicTurret", new { id = "source" })" target="_blank" title="View source on GitHub" class="btn btn-lg btn-default">View source on GitHub</a></div>