﻿@{
    ViewData["Title"] = "PAM";
    ViewData["og:title"] = "PAM";
    ViewData["og:description"] = "PAM (Python Administrative Module) is a Python clone of ADA, written using Discord.py library.";
    ViewData["og:image"] = Url.FullContentUrl("~/images/discord/pam_v1_big.png");
    ViewData["content:center"] = true;
}

<img src="@Url.Content("~/images/discord/pam_v1.png")" alt="PAM" class="bot-image" />

<h1>PAM</h1>
<h3>Python Administrative Module</h3>

<p>
    PAM (Python Administrative Module) is a Python clone of ADA, written using Discord.py library. Much like ADA, PAM is designed to simplify and extend Discord's administrative functionality, as well as add 
    some automated tasks and fun stuff. Initially a port of ADA, PAM is now a bot in its own right. 
</p>

<div class="margin">&nbsp;</div>

<div class="col-xs-12 col-md-4"><a href="@Url.Action("Pam", new { id = "invite" })" target="_blank" title="Add to your server" class="btn btn-lg btn-primary">Add to your server</a></div>
<div class="col-xs-12 col-md-4"><a href="@Url.Action("Pam", new { id = "doc" })" title="Command documentation" class="btn btn-lg btn-default">Command documentation</a></div>
<div class="col-xs-12 col-md-4"><a href="@Url.Action("Pam", new { id = "source" })" target="_blank" title="View source on GitHub" class="btn btn-lg btn-default">View source on GitHub</a></div>