﻿@{
    ViewData["Title"] = "PAM Documentation";
    ViewData["og:title"] = "PAM Documentation";
    ViewData["og:description"] = "PAM (Python Administrative Module) is a Python clone of ADA, written using Discord.py library.";
    ViewData["og:image"] = Url.FullContentUrl("~/images/discord/pam_v1_big.png");
    ViewData["content:center"] = true;
}

<img src="@Url.Content("~/images/discord/pam_v1.png")" alt="PAM" class="bot-image-small" />

<h1>PAM <small>- Documentation</small></h1>

<h3>Help and introduction</h3>

<p class="text-justify">
    By default, the bot uses <code>/</code> as command prefix. This means that commands are invoked like so: <code>/command arguments...</code>.
</p>

<p class="text-justify">
    In below documentation, all commands will be listed with default command prefix. Arguments will be listed as <code>&lt;argument&gt;</code>, denoting required argument; <code>&lt;argument...&gt;</code>
    denoting required catch-all argument (i.e. one that can take more than one value). Optional arguments will be denoted using <code>[argument]</code> and <code>[argument...]</code> for single and catch-all
    optional arguments. When typing commands, you must omit the <code>&lt;&gt;</code> and <code>[]</code> parts, meaning that if a command is denoted as <code>/command &lt;argument 1&gt; [argument 2]</code>, 
    you use it as <code>/command value1 value2</code> or <code>/command value1</code>. If you want to pass an argument that contains spaces, wrap it in <code>""</code>, for instance: 
    <code>/command "value for argument 1"</code> will invoke <code>/command</code> with a single argument, <code>value for argument 1</code>. This is not required for catch-all arguments. For instance, if a 
    command is declared as <code>/echo &lt;message...&gt;</code>, you can invoke it as <code>/echo Hello, this is a message with spaces!</code>.
</p>

<p class="text-justify">
    <code>/help [module]</code> Displays help. Invoking this command without any arguments will list available modules. Specifying a module will show all commands declared in specified module, that the 
    invoker can use. 
</p>

<div class="margin">&nbsp;</div>

<h3>Server management</h3>

<ul class="list-unstyled text-justify">
    <li><code>/guild rename &lt;name...&gt;</code> Renames current server. This command requires manage server permission.</li>
    <li><code>/guild info</code> Displays information about current server. This command can be used by anyone.</li>
    <li><code>/guild config</code> Displays information about current server's configuration. This command requires manage server permission.</li>
    <li><code>/guild config prefix &lt;prefix&gt;</code> Changes command prefix for current server. Setting it to <code>""</code> will reset it to default. This command requires manage server permission.</li>
    <li><code>/guild config joinlog &lt;channel&gt;</code> Configures join log for current server. This command requires manage server permission.</li>
    <li><code>/guild config modlog &lt;channel&gt;</code> Configures moderation log for current server. This command requires manage server permission.</li>
    <li><code>/guild config muterole &lt;role&gt;</code> Configures mute role for current server. This command requires manage server permission.</li>
    <li><code>/guild config welcomerole &lt;role&gt;</code> Configures welcome role for current server. The configured role will be assigned to all new members who join the server. This command requires manage server permission.</li>
    <li><code>/guild config rolestate &lt;True/False&gt;</code> Configures role state for current server. Role state saves roles for members who leave, and restores them when they rejoin. This command requires manage server permission.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Member management</h3>

<ul class="list-unstyled text-justify">
    <li><code>/members report &lt;member&gt; &lt;reason...&gt;</code> Reports a member to moderators. This command requires moderation log to be configured on the server (see <code>/guild config modlog</code>), and can be used by anyone.</li>
    <li><code>/members mute &lt;member&gt; [duration]</code> Mutes a member for a specified time. If <code>duration</code> is not specified, mute is permanent, and can only be lifted manually. This command requires configured mute role (see <code>/guild config muterole</code>), as well as moderation log (see <code>/guild configure modlog</code>), as well as kick members permission.</li>
    <li><code>/members unmute &lt;member&gt;</code> Unmutes a member. This command requires configured mute role (see <code>/guild config muterole</code>), as well as moderation log (see <code>/guild configure modlog</code>), as well as kick members permission.</li>
    <li><code>/members kick &lt;member&gt;</code> Kicks a member. This command requires moderation log to be configured on the server (see <code>/guild config modlog</code>), as well as kick members permission.</li>
    <li><code>/members softban &lt;member&gt;</code> Softbans a member. Softban is a ban and instant unban. Functionally, it works like kicking, except, since a ban occurs, it also removes messages of the kicked member. The member is free to rejoin once softbanned. This command requires moderation log to be configured on the server (see <code>/guild config modlog</code>), as well as kick members permission.</li>
    <li><code>/members ban &lt;member&gt; [duration]</code> Bans a member for a specified time. If duration is not specified, ban is permanent, and can only be lifted manually. This command requires moderation log to be configured on the server (see <code>/guild config modlog</code>), as well as ban members permission.</li>
    <li><code>/members unban &lt;member id&gt;</code> Unbans a member by his user ID. This command requires moderation log to be configured on the server (see <code>/guild config modlog</code>), as well as ban members permission.</li>
    <li><code>/members prune [days]</code> Prunes inactive members. Inactive members are ones that have not logged in within specified amount of days (default of 30), and were not assigned a role. The maximum number of days you can specify is 30. This command requires kick members permission.</li>
    <li><code>/members information</code> Displays information about a member. This command can be used by anyone.</li>
    <li><code>/members reason &lt;case id&gt; &lt;reason...&gt;</code> Sets a moderator action's reason, as well as responsible moderator. This command requires configured mute role (see <code>/guild config muterole</code>), as well as moderation log (see <code>/guild configure modlog</code>), as well as kick members and ban members permissions.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Role management</h3>

<ul class="list-unstyled text-justify">
    <li><code>/roles create &lt;name...&gt;</code> Creates a new role with specified name. This command requires manage roles permission.</li>
    <li><code>/roles delete &lt;role&gt;</code> Deletes specified role. This command requires manage roles permission.</li>
    <li><code>/roles edit &lt;role&gt; &lt;parameters...&gt;</code> Edits specified role. Arguments are passed as <code>argument1=value1 argument2=value2</code>. Possible arguments are <code>name permissions colour hoist mentionable</code>. This command requires manage roles permission.</li>
    <li><code>/roles information &lt;role&gt;</code> Displays information about specified role. This command requires manage roles permission.</li>
    <li><code>/roles list</code> Lists roles defined in specified server. This command requires manage roles permission.</li>
    <li><code>/roles adduser &lt;member&gt; &lt;roles...&gt;</code> Adds specified member to specified roles. This command requires manage roles permission.</li>
    <li><code>/roles removeuser &lt;member&gt; &lt;roles...&gt;</code> Removes specified member from specified roles. This command requires manage roles permission.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Channel management</h3>

<ul class="list-unstyled text-justify">
    <li><code>/channels purge &lt;channel&gt; [count]</code> Purges specified channel. If <code>count</code> is not specified, it defaults to 100. This command requires manage channels permission.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Bot control</h3>

<ul class="list-unstyled text-justify">
    <li><code>/bot nickname &lt;nickname...&gt;</code> Changes bot's nickname. This will make the bot nickname itself <code>PAM Bot (specified nick)</code>. If <code>nickname</code> is set to <code>""</code>, it will reset the nickname. This command requires manage nicknames permission.</li>
    <li><code>/bot about</code> Displays information about the bot. This command can be used by anyone.</li>
    <li><code>/bot invitelink</code> Displays the link to invite this bot to your own server. This command can be used by anyone.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>RSS management</h3>

<ul class="list-unstyled text-justify">
    <li><code>/rss add &lt;channel&gt; &lt;url&gt; [tag]</code> Configures an RSS feed in specified channel. If <code>tag</code> is specified, it will be appended to posts' titles as <code>[tag]</code>. This command requires manage server permission.</li>
    <li><code>/rss remove &lt;channel&gt; &lt;url&gt; [tag]</code> Removes an RSS feed from specified channel. This command requires all arguments to match those used to create the feed. This command requires manage server permission.</li>
    <li><code>/rss list</code> Lists all feeds configured in current server. This command requires manage server permission.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Tag management</h3>

<ul class="list-unstyled text-justify">
    <li><code>/tag &lt;name...&gt;</code> Displays a tag. This command is type-agnostic, meaning it will work with channel-specific, server-specific, and global tags. It will pick a best match (i.e. channel tag if one exists, falls back to server-wide, then to global). This command can be used by anyone.</li>
    <li><code>/tag create &lt;name&gt; &lt;contents...&gt;</code> Creates a new tag with specified name and contents. The created tag will only be accessible in the channel it was created in. This command requires manage messages permission.</li>
    <li><code>/tag create guild &lt;name&gt; &lt;contents...&gt;</code> Creates a new tag with specified name and contents. The created tag will be accessible from each channel of the server it was created in. This command requires manage server permission.</li>
    <li><code>/tag edit &lt;name&gt; &lt;new contents...&gt;</code> Edits a tag with specified name, and replaces its contents. This command can only be used to edit tags created in the channel it is being invoked in. This command requires manage messages permission.</li>
    <li><code>/tag edit guild &lt;name&gt; &lt;new contents...&gt;</code> Edits a tag with specified name, and replaces its contents. This command can only be used to edit server-wide tags. This command requires manage server permission.</li>
    <li><code>/tag delete &lt;name&gt;</code> Deletes a tag with specified name. This command can only be used to delete tags created in the channel it is being invoked in. This command requires manage messages permission.</li>
    <li><code>/tag delete guild &lt;name&gt;</code> Deletes a tag with specified name. This command can only be used to delete server-wide tags. This command requires manage server permission.</li>
    <li><code>/tag info &lt;name&gt;</code> Displays information of a tag with specified name. This command is type-agnostic, meaning it will work with channel-specific, server-specific, and global tags. This command can be used by anyone.</li>
    <li><code>/tag info guild &lt;name&gt;</code> Displays information of a tag with specified name. This command can only be used to display information of server-wide tags. This command can be used by anyone.</li>
    <li><code>/tag info global &lt;name&gt;</code> Displays information of a tag with specified name. This command can only be used to display information of global tags. This command can be used by anyone.</li>
    <li><code>/tag dump &lt;name&gt;</code> Dumps the contents of a tag with specified name. This command can only be used to dump tags created in the channel it is being invoked in. This command requires manage messages permission.</li>
    <li><code>/tag dump guild &lt;name&gt;</code> Dumps the contents of a tag with specified name. This command can only be used to dump server-wide tags. This command requires manage server permission.</li>
    <li><code>/tag list</code> Lists tags available from the channel the command was invoked in. This command can be used by anyone.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>GNU/Stallman module management</h3>

<p class="text-justify">
    This module responds with <a target="_blank" href="https://en.wikiquote.org/wiki/Talk:Richard_Stallman#unreliable_source">the famous Richard Stallman</a> copypasta whenever someone says 
    <code>linux</code>, but not <code>gnu/linux</code>. It is enabled by default.
</p>

<ul class="list-unstyled text-justify">
    <li><code>/stallman disable</code> Disables the module. This command requires manage server permission.</li>
    <li><code>/stallman enable</code> Enable the module. This command requires manage server permission.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Fun commands</h3>

<p class="text-justify">
    This module has 3 hidden commands. Can you figure them out?
</p>

<ul class="list-unstyled text-justify">
    <li><code>/fun random [min] [max] [count]</code> Generates a random number between <code>min</code> and <code>max</code>, which default to 0 and 32768, respectively. The <code>count</code> parameter specifies how many numbers to generate, and defaults to 1. This command can be used by anyone.</li>
    <li><code>/fun dice [count]</code> Generates a random number between 1 and 6. The <code>count</code> parameter specifies how many numbers to generate, and defaults to 1. This command can be used by anyone.</li>
    <li><code>/fun choice &lt;choices...&gt;</code> Picks a random option from the ones supplied. This command can be used by anyone.</li>
    <li><code>/fun markov channel [channel]</code> Generates a markov chain from up to 200 messages from a specified channel. If channel is not specified, it will default to current one. This command can be used by anyone.</li>
    <li><code>/fun markov user &lt;member&gt; [channel]</code> Generates a markov chain from up to 800 messages posted by a specified member, in a specified channel. If channel is not specified, it will default to current one. This command can be used by anyone.</li>
    <li><code>/fun markov role &lt;role&gt; [channel]</code> Generates a markov chain from up to 400 messages posted by a members of specified role, in a specified channel. If channel is not specified, it will default to current one. This command can be used by anyone.</li>
    <li><code>/fun colour &lt;colour&gt;</code> Generates a 96x96 square of specified colour. The <code>colour</code> must be an RRGGBB or an AARRGGBB hex string. This command can be used by anyone.</li>
</ul>

<div class="margin">&nbsp;</div>

<h3>Aliases</h3>

<p class="text-justify">
    This module simply specified aliases from some commands. For arguments and requirements, see the command's documentation.
</p>

<ul class="list-unstyled text-justify">
    <li><code>/report</code> Alias for <code>/members report</code>.</li>
    <li><code>/mute</code> Alias for <code>/members mute</code>.</li>
    <li><code>/unmute</code> Alias for <code>/members unmute</code>.</li>
    <li><code>/kick</code> Alias for <code>/members kick</code>.</li>
    <li><code>/softban</code> Alias for <code>/members softban</code>.</li>
    <li><code>/ban</code> Alias for <code>/members ban</code>.</li>
    <li><code>/unban</code> Alias for <code>/members unban</code>.</li>
    <li><code>/reason</code> Alias for <code>/members reason</code>.</li>
    <li><code>/colour</code> Alias for <code>/fun colour</code>.</li>
</ul>
