﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta name="description" emzi-description="@ViewData["meta:description"]" emzi-default-description="Emzi0767's personal website. Here you can find information about me, my projects, and more." />
    <meta opengraph-element="Title" opengraph-value="@ViewData["og:title"]" opengraph-default-value="" opengraph-value-suffix="Emzi's New Empire" />
    <meta opengraph-element="Description" opengraph-value="@ViewData["og:description"]" opengraph-default-value="Emzi0767's personal website. Here you can find information about me, my projects, and more. Come if you seek peace, freedom, justice, and security." />
    <meta opengraph-element="Image" opengraph-value="@ViewData["og:image"]" opengraph-default-value="@Url.FullContentUrl("~/images/ogimage.jpg")" />
    <meta opengraph-element="Url" opengraph-value="@ViewData["og:url"]" opengraph-default-value="@Url.Action("Index", "Home", null, Context.Request.Scheme, Context.Request.Host.ToUriComponent())" />
    <meta opengraph-element="Type" opengraph-value="website" opengraph-default-value="website" />
    <title>@ViewData["Title"] - Emzi's New Empire</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")" title="Emzi's New Empire - Home Page">
                    <img src="@Url.Content("~/favicon.ico")" alt="Emzi's New Empire" /> Emzi's New Empire
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li asp-area="" asp-controller="Home" asp-action="Index" emzi-bootstrap-link="">Home</li>
                    <li asp-area="" asp-controller="Projects" asp-action="Index" emzi-bootstrap-link="" emzi-active-actions="@NavTagHelper.ProjectsActions">Projects</li>
                    <li asp-area="" asp-controller="Discord" asp-action="Index" emzi-bootstrap-link="" emzi-active-actions="@NavTagHelper.DiscordActions">Discord</li>
                    <li asp-area="" asp-controller="Home" asp-action="About" emzi-bootstrap-link="">About me</li>
                </ul>
                <button id="share-btn" class="btn btn-default navbar-btn navbar-right" data-toggle="modal" data-target="#share-modal" title="Share this page">Share</button>
            </div>
        </div>
    </nav>

    <div class="container body-content" emzi-center-content="@(ViewData["content:center"] != null ? (bool)ViewData["content:center"] : false)">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="col-xs-12 col-md-9">
                <h5>Be sure to check the links on the right. If you feel like supporting me, you can do so through my Patreon. Any amount is appreciated. I also accept tips in cryptocurrencies.</h5>

                <div class="col-xs-12 col-md-4">
                    <img src="@Url.RouteUrl("api_qr", new { id = ViewData["crypto:eth"].ToBase64(), size = 96 })" class="crypto-qr" /><br>
                    Ethereum<br>
                    <span class="crypto-address">@ViewData["crypto:eth"]</span>
                </div>

                <div class="col-xs-12 col-md-4">
                    <img src="@Url.RouteUrl("api_qr", new { id = ViewData["crypto:btc"].ToBase64(), size = 96 })" class="crypto-qr" /><br>
                    Bitcoin<br>
                    <span class="crypto-address">@ViewData["crypto:btc"]</span>
                </div>

                <div class="col-xs-12 col-md-4">
                    <img src="@Url.RouteUrl("api_qr", new { id = ViewData["crypto:ltc"].ToBase64(), size = 96 })" class="crypto-qr" /><br>
                    Litecoin<br>
                    <span class="crypto-address">@ViewData["crypto:ltc"]</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 links">
                <h5>Also check out</h5>

                <ul class="list-unstyled">
                    <li><a target="_blank" href="https://github.com/Emzi0767">My GitHub</a></li>
                    <li><a target="_blank" href="https://paypal.me/Emzi0767">My PayPal</a></li>
                    <li><a target="_blank" href="https://patreon.com/emzi0767">My Patreon</a></li>
                    <li><a target="_blank" href="https://discord.gg/rGKrJDR">My Discord server</a></li>
                    <li><a target="_blank" href="https://bitbucket.org/Emzi0767/emzi0767.com">Source code of this website</a></li>
                </ul>
            </div>
            <div class="copyright col-xs-12">&copy; @DateTimeOffset.UtcNow.Year by Emzi0767</div>
        </div>
    </footer>

    <div class="modal fade" tabindex="-1" role="dialog" id="share-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Share this page</h4>
                </div>
                <div class="modal-body">
                    <img src="@Url.RouteUrl("api_qr", new { id = ViewData["context:url"].ToBase64(), size = 256 })" alt="QR Code for this page" id="qrcode" /><br />
                    <input value="@ViewData["context:url"]" readonly="readonly" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
