﻿@{
    ViewData["Title"] = "Clyde.NET";
    ViewData["og:title"] = "Clyde.NET";
    ViewData["og:description"] = "Clyde.NET is an unofficial Discord API wrapper for .NET Core. It aims to provide a rich feature set, and a different approach to making API wrappers than both DSharpPlus and Discord.NET.";
    ViewData["og:image"] = Url.FullContentUrl("~/images/projects/clyde-net.png");
    ViewData["content:center"] = true;
}

<img src="@Url.Content("~/images/projects/clyde-net.png")" alt="Clyde.NET logo" class="bot-image" />

<h1>Clyde.NET</h1>

<p>
    Clyde.NET is an unofficial Discord API wrapper for .NET Core. It aims to provide a rich feature set, and a different approach to making API wrappers than both DSharpPlus and Discord.NET.
</p>

<p>
    My aim is to provide a library that doesn't provide a low entry bar, but is better coupled with Dependency Injection and various components of the .NET ecosystem, very modular, and very customizable. The 
    end goal is providing a flexible, yet powerful Discord API wrapper for .NET Core, with possible .NET Standard and .NETFX versions later down the line, for small and large bots and applications alike. 
    While the library is continuously in development, I always accept contributions, and feedback.
</p>

<div class="col-xs-12 col-md-3 col-md-push-3">
    <a href="https://clyde-net.emzi0767.com/" title="Documentation" target="_blank" class="btn btn-default btn-lg btn-block">Documentation</a>
</div>

<div class="col-xs-12 col-md-3 col-md-push-3">
    <a href="https://github.com/Clyde-NET/Clyde.NET" title="Clyde.NET on GitHub" target="_blank" class="btn btn-default btn-lg btn-block">GitHub</a>
</div>