﻿@{
    ViewData["Title"] = "Projects";
    ViewData["og:title"] = "Projects";
    ViewData["og:description"] = "Here you'll find information about all the projects I run or contribute to.";
}

<h1>My projects</h1>

<p>
    Here you can find an assorted collection of my projects. I still try to maintain or contribute to most of them, as time permits.
</p>

<h2>My current project</h2>

<div class="col-xs-12 col-md-4 sm-align-center">
    <img src="@Url.Content("~/images/projects/clyde-net.png")" class="bot-image" />
</div>
<div class="col-xs-12 col-md-8 sm-align-center">
    <h3>Clyde.NET</h3>

    <p class="text-justify sm-align-center">
        Clyde.NET is an unofficial Discord API wrapper for .NET Core. It aims to provide a rich feature set, and a different approach to making API wrappers than both DSharpPlus and Discord.NET.
    </p>

    <p class="text-justify sm-align-center">
        The library is in continuous development, and I'm always looking for ways to improve it. I want to provide a powerful, yet flexible Discord API wrapper for small and large applications alike.
    </p>

    <div class="col-xs-12 col-md-4">
        <a href="@Url.Action("ClydeDotNet")" title="More information" class="btn btn-primary btn-lg btn-block">More information</a>
    </div>

    <div class="col-xs-12 col-md-4">
        <a href="https://clyde-net.emzi0767.com/" title="Documentation" target="_blank" class="btn btn-default btn-lg btn-block">Documentation</a>
    </div>

    <div class="col-xs-12 col-md-4">
        <a href="https://github.com/Clyde-NET/Clyde.NET" title="Clyde.NET on GitHub" target="_blank" class="btn btn-default btn-lg btn-block">GitHub</a>
    </div>
</div>

<div class="margin">&nbsp;</div>

<h2>Other projects I maintain or contribute to</h2>

<div class="col-xs-12 col-md-4 content-align-center">
    <h3>DSharpPlus</h3>

    <a href="https://github.com/DSharpPlus/DSharpPlus" title="DSharpPlus on GitHub" target="_blank" class="btn btn-default btn-lg btn-block">GitHub</a>

    <p>
        DSharpPlus is an unofficial Discord API wrapper for .NET, originally forked from DiscordSharp. It's an alternative to Discord.NET, which provides a simples, if less mature, API.
    </p>

    <p>
        I have made major updates to the library, both its internals, and the external API. I drastically improved its build/publish pipeline, redesigned its docuemntation, and provided many examples of usage in major .NET languages. I am currently one of top contributors, and I continue to implement fixes and improvements.
    </p>
</div>

<div class="col-xs-12 col-md-4 content-align-center">
    <h3>Discord.NET</h3>

    <a href="https://github.com/discord-net/Discord.Net" title="View on GitHub" target="_blank" class="btn btn-default btn-lg btn-block">GitHub</a>

    <p>
        Discord.NET is an unofficial .NET wrapper of the Discord API, created by RogueException. It is built around the .NET Standard, and thus can run on .NET Framework, .NET Core, or many other .NET plaftorms.
    </p>

    <p>
        I made some contributions to the project, among them small bug fixes, or minor API updates.
    </p>
</div>

<div class="col-xs-12 col-md-4 content-align-center">
    <h3>Rainbow 6: Strat Roulette</h3>

    <a href="https://github.com/Emzi0767/R6-Strat-Roulette" title="View on GitHub" target="_blank" class="btn btn-default btn-lg btn-block">GitHub</a>

    <a href="https://play.google.com/store/apps/details?id=com.emzi0767.r6stratroulette" title="View on Play Store" target="_blank" class="btn btn-default btn-lg btn-block">Google Play Store</a>

    <p>
        I designed, and developed a companion application for Rainbow 6: Siege. The application allows you to randomize various aspects of your gameplay, such as operators or recruits to play, their loadouts, and strategies to follow.
    </p>
</div>

<div class="clearfix"></div>

<div class="col-xs-12 col-md-4 content-align-center">
    <h3>.NET Operator List</h3>

    <a href="https://github.com/Emzi0767/DotNet-Operator-List" title="View on GitHub" target="_blank" class="btn btn-default btn-lg btn-block">GitHub</a>

    <p>
        A rather satirical project, it's an implementation of a Python-like collection that can be manipulated using standard C# operators, such as +, -, and so on.
    </p>
</div>

<div class="col-xs-12 col-md-4 content-align-center">
    <h3>Reusable .NET Components</h3>

    <a href="https://github.com/Emzi0767/Common" title="View on GitHub" target="_blank" class="btn btn-default btn-lg btn-block">GitHub</a>

    <p>
        A collection of reusable components I use in my various .NET projects.
    </p>
</div>

<div class="col-xs-12 col-md-4 content-align-center">
    <h3>IL Abuse</h3>

    <a href="https://github.com/Emzi0767/ILAbuse" title="View on GitHub" target="_blank" class="btn btn-default btn-lg btn-block">GitHub</a>

    <p>
        Projects which abuse the .NET's Intermediate Language, to achieve fun, and sometimes ludicrous, results. There's currently not much there, as I haven't had much time to update it.
    </p>
</div>