﻿/* web fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Source+Code+Pro');

/* reset */
html, body 
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #333;
    color: #ddd;
    font: 11pt 'Roboto','Helvetica','Arial',sans-serif;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div
{
    box-sizing: border-box;
}

.navbar
{
    border: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content 
{
    flex: 1 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4em;
    padding-top: 70px;
}

.body-content > p,
.body-content > div > p
{
    text-align: justify;
}

div.bot-info > p
{
    text-align: justify;
    text-align-last: center;
}

/* QR code generator */
.modal-dialog
{
    width: 280px;
}

.modal-content
{
    background: #111;
    text-align: center;
}

.modal-body > input 
{
    width: 100%;
    margin: 4px;
    background-color: #333;
    color: #eee;
    border: none;
    font: 10pt 'Roboto','Helvetica','Arial',sans-serif;
}

.modal-body > input[readonly]
{
    background-color: #444;
}

.modal-body > input:focus
{
    box-shadow: none;
}

.modal-footer > button 
{
    width: 100%;
    margin: 4px;
}

.modal-header 
{
    border-bottom: none;
    text-align: center;
}

.modal-footer 
{
    border-top: none;
    text-align: center;
}

#qrcode 
{
    margin: 4px;
    max-width: 256px;
    max-height: 256px;
}

/* header */
.navbar-brand > img
{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: -30px 2px -25px 2px;
    vertical-align: middle;
    border-radius: 24px;
}

.navbar ul.nav > li 
{
    transition: border-bottom-color 0.1s, border-left-color 0.1s;
    height: 50px;
}

.navbar ul.nav > li:hover
{
    border-bottom-color: #eee;
    border-left-color: #eee;
}

.navbar ul.nav > li.active 
{
    border-bottom-color: #007fff;
    border-left-color: #007fff;
}

.navbar ul.nav > li.active > a,
.navbar ul.nav > li.active > a:hover
{
    background-color: transparent;
}

@media (min-width: 768px) 
{
    .navbar ul.nav > li 
    {
        border-bottom: 3px solid transparent;
    }
}

@media (max-width: 767px)
{
    .navbar ul.nav > li 
    {
        border-left: 3px solid transparent;
    }
}

@media (max-width: 768px)
{
    div.container > h1.website-title
    {
        text-align: center;
    }

    div.container > h1.website-title > img.title-image
    {
        display: block;
        margin: 2px auto;
    }
}

/* links */
a, a:visited, a:hover, a:visited:hover
{
    color: #007fff;
}

/* button styles */
.btn, .btn:visited
{
    transition: background-color 0.3s, color 0.3s;
    color: #eee;
    border: none;
    font: 10pt 'Roboto','Helvetica','Arial',sans-serif;
}

.btn:active, .btn:focus
{
    color: #eee;
}

.btn-lg
{
    font-size: 14pt;
}

.btn:hover, .btn:visited:hover
{
    color: #eee;
}

.btn.btn-default 
{
    background-color: #2f2f2f;
}

.btn.btn-default:hover 
{
    background-color: #444;
}

.btn.btn-primary
{
    background-color: #555;
}

.btn.btn-primary:hover
{
    background-color: #007fff;
}

.btn.btn-block
{
    margin: 4px auto;
}

/* footer */
footer 
{
    display: block;
    width: 100%;
    margin: 0;
    padding: 12px 0;
    background: #111;
    font-size: 10pt;
    flex-shrink: 0;
}

footer > .container > .links
{
    text-align: right;
}

footer > .container > .copyright
{
    font-size: 9pt;
    color: #666;
    box-sizing: border-box;
    padding: 4px 15px;
    text-align: center;
}

footer > .container > div > div
{
    text-align: center;
    word-wrap: break-word;
}

footer > .container > div > div > .crypto-qr
{
    width: 96px;
    height: 96px;
    margin: 4px;
}

@media (max-width: 768px)
{
    footer > .container > .links 
    {
        text-align: center;
    }

    footer > .container > div > div > .crypto-qr
    {
        display: none;
    }
}

/* misc */
.dontpad
{
    padding: 0 30px 0 0;
}

.discord-server-invite
{
    border-radius: 2px;
    box-shadow: rgba(11, 11, 11, 0.3) 2px 2px 2px;
    display: inline-block;
    overflow: hidden;
}

.content-align-right
{
    text-align: justify;
    text-align-last: right;
}

.content-align-center
{
    text-align: justify;
    text-align-last: center;
}

@media (max-width: 991px)
{
    .content-align-right 
    {
        text-align: center;
    }

    .discord-server-invite
    {
        max-width: 100%;
    }
}

#share-btn
{
    margin-right: 15px;
}

.bot-avatar
{
    display: block;
    width: 192px;
    height: 192px;
    margin: 4px auto;
}

.bot-avatar-large
{
    width: 256px;
    height: 256px;
}

.bot-info
{
    text-align: center;
}

.bot-image
{
    width: 256px;
    height: 256px;
}

.bot-image-small
{
    width: 128px;
    height: 128px;
}

.margin
{
    margin: 4px 0;
    display: block;
    clear: both;
}

code, pre
{
    background-color: #2d2d2d;
    color: #eee;
    font: 8.5pt 'Source Code Pro','Lucida Console','Courier New',monospace;
    padding: 1px;
    display: inline-block;
    border: none;
}

pre
{
    display: inline-block;
    margin: 0;
}

.text-justify
{
    font-size: 10pt;
    text-align: justify;
    text-align-last: left;
}

@media (max-width: 768px) 
{
    .sm-align-center 
    {
        text-align: justify;
        text-align-last: center;
    }
}